<div class="container">
  <h1 class="orange-text text-darken-3"><%= title 'ほめノートとは？' %></h1>

  <div class="row">
    <div class="section">
      <div class="col s12">
        <h2><span class="orange-text text-darken-3">ほめられると脳が喜ぶ</span></h2>
        <p>人間はほめられたり、お金をもらったり、自分がしたことで相手が喜んでくれた時に、自己報酬神経群と呼ばれる脳の神経が活性化し、それが自分への報酬となって、モチベーションや思考力、集中力などが高まる仕組みになっています。ほめる行為によって、ほめる人も、ほめられた人も、効果があると言われています。それを活用したものとして、毎日自分をほめる「ほめ日記」があります。毎日、１０個以上「ほめ日記」に自分をほめる内容を手帳に書いていくことで、よい効果があるというものです。</p>
        <p>おとなになると、ほめられる機会はどんどん減っていきます。逆にほめる側の立場になりますよね（ほめると効果があるそうなので、子供でもペットでも、ここは思いっきりほめてあげてください）。ですが、年齢がいくつになっても、「えらいね！」「すごいね」と、ほめられたいものです。</p>
        <h2><span class="orange-text text-darken-3">ほめノートはきっかけ作り</span></h2>
        <p>本サイト「みんなのほめノート」では、少しでもハードルを下げて、手軽に、いつでも、すぐに書けるように、と考えまして、「みんなのほめノート」を作りました。本来、自分へのほめ言葉は自分だけのもので、他人に見せるものではないため、「みんなのほめノート」は匿名にしています。ただし、「ほめる人も、ほめられた人も、効果がある」と言われているため、コメントもつけられるようにしました。コメントをするときは、ほめてあげてください。</p>
        <p>本来は、自分だけの日記帳にペンを使って、手で書くことで脳がより活性化するようです。ほめノートは、ほめることに興味を持ってもらい、プラスの方向に行くためのきっかけ作りになるだけでよいと考えています。ほめることが習慣化したら、次のステップとして、自分だけの日記帳にほめ日記をつけていくことをオススメします。</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <h2><span class="orange-text text-darken-3">参考情報</span></h2>
      <blockquote>
        <p>子供がお母さんに褒められたり、他人から良い評判を聞いたりすると、“心”がうれしくなります。</p>
        <p>ほめられることが脳の中では「報酬」として喜びと感じられている</p>
        <a href="http://www.nips.ac.jp/contents/release/entry/2008/04/post-36.html" target="_blank">引用元：「褒められる」ことは報酬 - 大学共同利用機関法人</a>
      </blockquote>
      <blockquote>
        <p>脳卒中リハビリの分野で、ひとつの研究成果が注目されています。リハビリの際に、ある言葉を言われるかどうかで、改善のスピードが大幅に違うというのです。傷ついた脳の回復を助ける、いわば魔法の言葉。どんなものなのでしょうか？ その正体は至ってシンプル。ほめる。だた、それだけです。</p>
        <a href="https://news.yahoo.co.jp/byline/mamoruichikawa/20161022-00063327/" target="_blank">引用元：「ほめる」と脳が回復する！言葉が持つ驚きのパワーとは - 市川衛 医療の翻訳家</a>
      </blockquote>
    </div>
  </div>

</div>
