<div class="container">
  <h1 class="orange-text text-darken-3"><%= title 'ほめノートの使い方' %></h1>

  <div class="row">
    <div class="section">
      <div class="col s12">
        <h2><span class="orange-text text-darken-3">自分をほめるコツ</span></h2>
        <p>最初から自分をうまくほめられる人は、なかなかいないと思います。そこで、ほめるコツをいくつかあげていきます。</p>
        <ul>
          <li>(1) 「ご飯が美味しく食べられた」など、ささいなことでもよいので、ほめるハードルを下げる</li>
          <li>(2) ほめる内容は１つでもよいため、とにかく毎日ほめて継続させる</li>
          <li>(3) 習慣化するまでは忘れないように、思いついたら一言でもよいため、すぐに書き込む</li>
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="section">
      <div class="col s12">
        <h2><span class="orange-text text-darken-3">ほめノートのしくみ</span></h2>
        <p>ほめノートは以下の方針としくみで成り立っています。</p>
        <h3>書き込みについて</h3>
        <p>トップページの書き込みボタン（ペンのボタン）から、ほめノートに書き込むことができます。現時点ではブログのような長文の書き込みは想定していないため、1回の書き込みは、Twitterと同じ程度の文字数で書き込めるようにしています。</p>
        <h3>ほめノートへの書き込み内容について</h3>
        <p>書き込みは利用者の許可有無に問わず、内容が削除される場合があります。</p>
        <p>個人が特定できる情報や誹謗中傷などは書き込まないようにしてください。もし削除が必要になった場合は <a href="https://twitter.com/256hax" target="_blank">@256hax Twitter</a> にご連絡ください。</p>
        <h3>匿名性について</h3>
        <p>ほめノートは気軽に書けるようにするため、書いた内容は匿名になっています。ただし、アクセスされた情報（Web解析情報など）はログとして蓄積されます。それらの情報は、サイト管理者に閲覧や機密保持関係のある協業者に情報共有する可能性がありますが、事前に利用者の許可なく、外部に一般公開することはありません。</p>
        <p>ただし、事件性があるなどの理由で、警察またはプロバイダーから情報開示依頼があった場合は、利用者への事前の許可なく情報を提供する場合があります。</p>
        </ul>
      </div>
    </div>
  </div>

</div>
