<% title 'Myコメント' %>

<div class="container">
  <h1 class="orange-text text-darken-3">Myコメント</h3>
  <p>自分がコメントした直近<%= @record_count %>件のほめノートの一覧</p>

  <!-- Messages -->
  <%= render 'messages/messages' %>
</div>
